.select {
	width: 145px;
	height: 35px;
	position: absolute;
	left: 10px;
	top: 100px;
	padding: 5px;
	background-color: #ffffff91;
	border: 1px solid #ffffff57;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}