body {
	margin: 0;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
	background-attachment: fixed;
}
#root {
	display: flex;
	justify-content: center;
}
.App {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 10px;
}

.input {
	width: 145px;
	height: 35px;
	position: absolute;
	left: 10px;
	top: 200px;
	padding: 5px;
	background-color: #ffffff91;
	border: 1px solid #ffffff57;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}